html {
    height: 100%;
}

html {
    position: relative;
}

body {
    min-height: 100%;
    background: url(../images/test_screen.jpg);
    background-size: cover;
    font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
}

hr {
    border-color: #ed2c2e;
    border-width: 3px;
}

.tvShowBtn {
	margin: 2px 5px;
	color: #fff;
	background-color: #ed2c2e;
	border-radius: 20%;
	
	border: none;
	font-size: 150%;
}

.result {
	margin: 10px auto;
	border-radius: 5px;
}

.input-group-addon {
	color: #fff;
	background-color: #ed2c2e;
	border-color: #000;
}

.form-control {
	border-color: #000;
}

.submitBtn {
	background-color: #ed2c2e;
	font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
	color: #fff;
	border-color: #000;
}

.panel {
	margin-top: 10px;
	background: url(../images/test_screen_white.jpg);
	background-size: cover;
}

.panel-default>.panel-heading {
	color: #fff;
    background-color: #ed2c2e;
    border-color: #000;
}

.panel-default {
    border-color: #000;
}

.panel-heading {
	padding: 1px 15px;
}

.result-div {
	position: relative;
	padding-bottom: 1.5em;
}

.rating {
	position: absolute;
	top: 0.5em;
	left: 0.5em;
	background-color: rgba(255,255,255,0.5);
	color: rgba(0,0,0,0.5);
	border-radius: 5px;
	padding: 0.5em;
	min-width: 2.5em;
	max-width: 5em;
	font-size: 1.25em;
	text-align: center;
	font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
}

.footer {
	color: #ed2c2e;
	font-size: 90%;
}

@media screen and (max-width: 768px) {
	#powered {
        max-height: 100px;
        width: auto;
        margin: auto;
    }
}
